.card-lg{

    .card{
        height: 658px;
        overflow: hidden;
        margin-bottom: 30px;
        color: #fefefe;

        .article-icon{
            width: 38px;
            height: 37px;
        }

        .category{
            margin-bottom: 17px;
            display: inline-block;
        }

        figure{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 0;

            &:after{
                content: '';
                opacity: 0.3;
                background-color: #231f20;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
        }

        .content{
            width: 1140px;
            margin: 0 auto;
            padding-top: 228px;
            position: relative;
            z-index: 20;
            @media screen and (max-width: $md-break){
                width: 970px;
            }

            @media screen and (max-width: $mmd-break){
                width: 750px;
            }
            @media screen and (max-width: $sm-break){
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 120px;
            }

            time{
                margin-bottom: 8px;
                color: #fefefe;
            }

            h2{
                font-size: ((40px / $font-size-base) + $font-unit);
                width: 470px;
                margin-bottom: 25px;
                margin-top: 0;
            }

            .author{
                background-color: #ffff00;
                color: #1a1818;
            }

            p{
                font-size:  ((16px / $font-size-base) + $font-unit);
                font-weight: 900;
                margin-bottom: 29px;
                width: 470px;
                @media screen and (max-width: $sm-break){
                    width: 100%;
                }
            }
        }

        &.twitter{
            .content{
                p{
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }

        &.instagram{
            .content{
                p{
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }

        &.soundcloud{
            .other-content{
                display: none;
            }
        }

    }
}
