{{ set(this, 'title', 'Contact') }}  
{% set networkData = _Network.getNetworkData() %}



<div class="page_section">
    <section class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="about_details">

                    <h3 class="about_details__org">Central News</h3>
                    <h1 class="about_details__head">About us</h1>

                    <p class="about_details__par--lead">
                        CentralNews.com.au is a news website based at the University of Technology, Sydney’s School of 
                        Journalism and staffed by students under the supervision of a professional editor.
                    </p>

                    <p class="about_details__par">
                        Central News aims to break stories by combining the best of print, audio and video practice and by 
                        refreshing content daily with original material.
                    </p>
                     
                    <p class="about_details__par">
                        We will have access to exciting content from our partners at AAP, 2SER community radio, stories 
                        produced by journalism students and contributors.
                    </p>
                     
                    <p class="about_details__par">
                        We seek to find stories, which will reflect our city and the issues that matter to our communities.
                    </p>

                    <p class="about_details__par">
                        Central News wants to hear from our readers about what’s going on in their communities, 
                        and will seek to engage with them about the issues that matter, their concerns about their 
                        neighbourhoods, what’s new in their area and what they love and hate about their city.
                    </p>

                    <p class="about_details__par">
                        We will be proudly local but excitedly global in bringing wider news, issues and trends that our 
                        communities care about, are talking about or are yet to discover.
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="staff">
                    <h1 class="staff__head">OUR TEAM</h1>

                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <figure class="staff__photo">
                                <img class="staff__img" src="{{networkData.templatePath}}/static/images/headshots/deborah_fitzgerald.jpg" alt="Deborah Fitzgerald" class="img-responsive">
                                <figcaption>
                                    <a href="mailto:Deborah.FitzGerald@uts.edu.au">DEBORAH.FITZGERALD@UTS.EDU.AU</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-12 col-md-9 staff">
                            <h2 class="staff__title">Deborah FitzGerald <span>Editor</span></h2>
                            <p class="staff__par staff__par--lead">
                                Deborah is a senior journalist and editor who has worked across all media 
                                platforms including digital, print, radio and television including Channel Nine, 
                                ABC Radio and NewsCorp.
                            </p>
                            <p class="staff__par">
                                She has covered most rounds including politics, crime, courts, council, transport, 
                                health, education, environment, travel, lifestyle and sport.
                            </p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <figure class="staff__photo">
                                <img class="staff__img" src="{{networkData.templatePath}}/static/images/headshots/peter_fray.jpg" alt="Peter Fray" class="img-responsive">
                                <figcaption>
                                    <a href="mailto:Peter.Fray@uts.edu.au">PETER.FRAY@UTS.EDU.AU</a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-sm-12 col-md-9 staff">
                            <h2 class="staff__title">Peter Fray <span>Publisher</span></h2>
                            <p class="staff__par staff__par--lead">
                                Professor of Journalism Practice Peter Fray is one of the country's most 
                                experienced and innovative media professionals.
                            </p>
                            <p class="staff__par">
                                A former editor or editor-in-chief of The Sydney Morning Herald, The Sun-Herald, 
                                The Canberra Times and The Sunday Age, Fray has lived the reality of the digital 
                                revolution that's forever changed the way journalism is practiced, received and distributed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>