{{ set(this, 'title', 'Contact') }}  

<div class="page_section">
    <section class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="contact_details">
                    <h2 class="contact_details__org">Central News</h2>
                    <h1 class="contact_details__head">Contact us</h1>
                    <p class="contact_details__par--lead">We value our readers and welcome your thoughts and feedback. </p>
                    <p class="contact_details__par">If you have a story idea, wish to provide feedback, have a question 
                        or encounter an issue please email <a href="mailto:editor@centralnews.com.au">editor@centralnews.com.au</a></p>
                </div>
            </div>
        </div>
    </section>
</div>